body {
  margin: 0;
  border: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.nav-container {
  display: flex;
  flex-direction: column;
  background-color: #F8C6C9;
}

.header-row {
  padding: 10px 150px 10px;
  display: flex;
  flex: 1;
  background-color: #FFFFFF;
  justify-content: space-between;
}

.header-logo img {
  flex: 1 1 auto;
  width: 125px;
  height: auto;
}

nav {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
  padding-right: 30px;
}

.header-link {
  color: black;
  font-size: 24px;
  text-decoration: none;
  font-weight: bold;
}

.content-row {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  align-items: center;
  padding: 10px 150px 10px;
}

.content {
  flex: auto;
  padding: 0px;
  margin: 0px;
  align-items: center;
}

.content-logo {
  height: auto;
  width: 400px;
  border-radius: 5%;
}

h2 {
  padding-top: 20px;
  text-align: center;
}

.photo-container {
  display: flex;
  flex: auto;
  justify-content: center;
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 125px;
  padding-bottom: 20px;
}

.photo-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: auto;
}

.photo-text {
  flex: auto;
}

.photo-image img {
  width: 250px;
  height: 165px;
  border-radius: 5%;
}

.photo-image:hover {
  opacity: 50%;
}

.quote-container {
  display: flex;
  flex-direction: column;
  background-color: #98D1B1;
  align-items: center;
}

.action-container {
  display: flex;
  height: 200px;
}

footer {
  background-color: #F8C6C9;
  text-align: center;
  margin: 0px;
  border-width: 0px;
  padding: 0px;
}