.main-container {
  display: flex;
  flex-direction: column;
}

.nav-container {
  display: flex;
  flex-direction: column;
  background-color: #F8C6C9;
  height: 200px;
}

.header-row {
  display: flex;
}

.header-logo img {
  flex: auto;
  width: 100px;
  height: auto;
}

nav {
  display: flex;
  flex: auto;
  justify-content: flex-end;
  gap: 10px;
}

.header-link {
  color: black;
  font-size: 18px;
}

.photo-container {
  display: flex;
  height: 200px;
}

.quote-container {
  display: flex;
  background-color: #98D1B1;
  height: 200px;
}

.action-container {
  display: flex;
  height: 200px;
}

footer {
  background-color: F8C6C9;
  justify-content: center;
}